/*
┌───────────────────────────────────────────────────┐
│	• Global										│
│	• Controller									│
│	• Game 											│
│	• Menu 											│
└───────────────────────────────────────────────────┘
*/



/*
┌───────────────────────────────────────────────────┐
│	• Global										│
└───────────────────────────────────────────────────┘
*/

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
			backface-visibility: hidden;
}

html, body {
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;
	background-color: #303030;
	color: #228fe7;
	font-family: 'Roboto', 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
	margin: 0;
}

h1 {
	color: #228fe7;
	font-size: 32px;
	font-weight: 400;
	margin-bottom: 0;
}

h2 {
	font-weight: 400;
}

h3 {
	font-weight: 400;
	margin-left: 5%;
}

button:focus {
	outline: none;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.54);
	z-index: 10;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: 0.2s ease;
		-ms-transition: 0.2s ease;
			transition: 0.2s ease;
}

.overlay.show {
	visibility: visible;
	opacity: 1;
}

.dialogOverlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	visibility: hidden;
	opacity: 0;
	background: rgba(0, 0, 0, 0.54);
	-webkit-transition: 0.2s ease;
		-ms-transition: 0.2s ease;
			transition: 0.2s ease;
}

.dialogOverlay.show {
	visibility: visible;
	opacity: 1;
	z-index: 11;
}

.dialog {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	width: 400px;
	max-width: 90%;
	min-height: 100px;
	left: 50%;
	top: 50%;
	z-index: 11;
	background: #FFF;
	color: rgba(0, 0, 0, 0.87);
	padding: 16px;
	box-sizing: border-box;
	-webkit-transition: 0.3s ease;
		-ms-transition: 0.3s ease;
			transition: 0.3s ease;
	-webkit-transform: translate3d(-50%, 0, 0) scale(0);
		-ms-transform: translate3d(-50%, 0, 0) scale(0);
			transform: translate3d(-50%, 0, 0) scale(0);
}

.dialog.show {
	visibility: visible;
	opacity: 1;
	-webkit-transform: translate3d(-50%, -50%, 0) scale(1);
		-ms-transform: translate3d(-50%, -50%, 0) scale(1);
			transform: translate3d(-50%, -50%, 0) scale(1);
}

.dialog h4 {
	font-weight: 400;
	margin: 0 0 24px;
}

.dialog button {
	color: #03a9f4 !important;
}

.dialogText {
	min-height: 80px;
}


article {
	/*padding: 64px 8px 8px 8px;*/
	width: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	padding-top: 8px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 72px;
	position: absolute;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.width100 {
	width: 100%;
}

.marginTop16 {
	margin-top: 16px;
}

.margin0 {
	margin: 0;
}

.padding0 {
	padding: 0;
}

.alignCenter {
	text-align: center;
}

.right {
	float: right;
}

.transition {
	-webkit-transition: 0.3s ease;
		-ms-transition: 0.3s ease;
			transition: 0.3s ease;
}

.color1 { color: #228fe7; }
.bgColor1 { background-color: #228fe7; }

.color2 { color: #ec5f19; }
.bgColor2 { background-color: #ec5f19; }

.color3 { color: #21ef45; }
.bgColor3 { background-color: #21ef45; }

.color4 { color: #d121ef; }
.bgColor4 { background-color: #d121ef; }

/*
┌───────────────────────────────────────────────────┐
│	• Controller									│
└───────────────────────────────────────────────────┘
*/

.controller {

}


.controller .arrows {
	float: left;
	position: absolute;
	width: 168px;
	height: 168px;
	top: 50%;
	left: 10%;
	transform: translateY(-50%);
	border: 1px solid #FFF;
	box-sizing: border-box;
}

.controller .arrow, .controller .action {
	position: absolute;
	padding: 8px;
	width: 56px;
	height: 56px;
	border: 1px solid #228fe7;
	background: none;
	border-radius: 50%;
	color: #228fe7;
}

.controller .arrow i {
	color: #228fe7;
}

.controller .arrowUp {
	top: 0;
	left: 56px;
}
.controller .arrowRight {
	top: 56px;
	right: 0;
}
.controller .arrowDown {
	bottom: 0;
	left: 56px;
}
.controller .arrowLeft {
	top: 56px;
	left: 0;
}

.controller .actions {
	position: absolute;
	width: 168px;
	height: 168px;
	top: 50%;
	right: 10%;
	transform: translateY(-50%);
	border: 1px solid #FFF;
}

.controller .action1 {
	bottom: 24px;
	left: 16px;
}

.controller .action2 {
	top: 24px;
	right: 16px;
}


/*
┌───────────────────────────────────────────────────┐
│	• Game											│
└───────────────────────────────────────────────────┘
*/

.game {
	text-align: center;
}


.game .gridContainer {
	display: inline-block;
	background-color: 424242;
	box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
	box-sizing: border-box;
	border-bottom: 1px solid rgba(255,255,255,0.30);
	border-right: 1px solid rgba(255,255,255,0.30);
}

.game .gridRow {
	float: left;
	clear: both;
	border-top: 1px solid rgba(255,255,255,0.30);
}

.game .gridRow::last-child {
	border-bottom: 1px solid rgba(255,255,255,0.30);
}

.game .gridCell {
	width: 20px;
	height: 20px;
	float: left;
	/*background-color: rgba(0,0,0,0.12);*/
	border-left: 1px solid rgba(255,255,255,0.30);
}

.game .gridCell::last-child {
	border-right: 1px solid rgba(255,255,255,0.30);
}

.game .gameRoom {
	text-transform: uppercase;
}



/*
┌───────────────────────────────────────────────────┐
│	• Menu											│
└───────────────────────────────────────────────────┘
*/

.menu {
	text-align: center
}

.menuStart, .menuJoin {
	visibility: hidden;
	opacity: 0;
	transform: translateY(100%);
}

.menuStart.show, .menuJoin.show {
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
}

.colorCarousel {
	animation: carousel 4s infinite;
}

@keyframes carousel {
	0%   { color: #228fe7; }
	25%  { color: #ec5f19; }
	50%  { color: #21ef45; }
	75%  { color: #d121ef; }
	100% { color: #228fe7; }
}

.menuBtn {
	border: 1px solid #228fe7;
	padding: 8px 16px 8px 16px;
	background: none;
	color: #228fe7;
	font-size: 20px;
	text-transform: uppercase;
	display: block;
	margin: auto;
	min-width: 200px;
	margin-bottom: 24px;
	margin-top: 24px;
	cursor: pointer;
}

