<article class="controller transition" id="controller">
	<section>
		<div class="arrows">
			<button class="arrow arrowUp"><i class="material-icons">arrow_upward</i></button>
			<button class="arrow arrowRight"><i class="material-icons">arrow_forward</i></button>
			<button class="arrow arrowDown"><i class="material-icons">arrow_downward</i></button>
			<button class="arrow arrowLeft"><i class="material-icons">arrow_back</i></button>
		</div>

		<div class="actions">
			<button class="action1">A</button>

			<button class="action2">B</button>
		</div>
	</section>

</article>