<article class="controller transition" id="controller">
	<section>
		<h3>Player 1 - Joined game CXRTT</h3>

		<div class="arrows">
			<button id="arrowUp" class="arrow arrowUp"><i class="material-icons">arrow_upward</i></button>
			<button id="arrowRight" class="arrow arrowRight"><i class="material-icons">arrow_forward</i></button>
			<button id="arrowDown" class="arrow arrowDown"><i class="material-icons">arrow_downward</i></button>
			<button id="arrowLeft" class="arrow arrowLeft"><i class="material-icons">arrow_back</i></button>
		</div>

		<div class="actions">
			<button id="action1" class="action action1">A</button>

			<button id="action1" class="action action2">B</button>
		</div>
	</section>

</article>