<article class="menu transition" id="menu">
	<section class="menuStart transition" id="menuStart">
		<h1>GRID.<span class="colorCarousel">IO</span></h1>
		<button class="menuBtn" id="startGame">Start game</button>

		<button class="menuBtn" id="joinGame">Join game</button>
	</section>

	<section class="menuJoin transition" id="menuJoin">
		<form>
			<input class="codeInput" id="code1">
			<input class="codeInput" id="code2">
			<input class="codeInput" id="code3">
			<input class="codeInput" id="code4">
			<input class="codeInput" id="code5">
		</form>
	</section>

</article>